.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-bottom: 5rem;
  padding: 2rem;
  background-color: rgba(0,0,0,0.5); 
}

.small_video {
  display: flex;
  justify-content: space-around;
  background-color: none;
}

h3, p {
 text-align: center;
}